body {
  font-family: Arial, sans-serif;
  background-color: #f7d762;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.logo-container {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

.logo {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.under-construction-artwork-container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 300px;
}

.under-construction-artwork {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease;
}

img.under-construction-artwork:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

img.under-construction-artwork:active {
  transform: scale(0.9);
  transition: transform 0.1s ease; 
}

.under-construction {
  color: #d99209;
  font-size: 24px;
  margin: 20px 0;
  transition: opacity 1s;
  letter-spacing: 10px;
  word-spacing: 10px
}

.social-icons {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.social-icon {
  opacity: 0;
  width: 40px;
  height: 40px;
  transition: opacity 1s, transform 0.3s;
}

.copyright-footer {
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  width: 100%;
  max-width: 300px;
  margin-top: 50px;
  position: relative;
  bottom: 0;
}

.goat-emojis {
  z-index: -1;
  position: fixed;
  align-self: center;
  top: 0;
  left: 0;
  pointer-events: none;
}

@keyframes risingGoats {
  0% {
      opacity: 0.5;
      font-size: 50px;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      font-size: 50px;
      transform: translateY(-100vh);
  }
}

.goat-emoji {
  bottom: 0;
  position: absolute;
  opacity: 1;
  animation: risingGoats 1s linear;
}
