body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .logo-container {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 1s, transform 1s;
  }
  
  .logo {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .under-construction {
    opacity: 0;
    font-size: 24px;
    margin: 20px 0;
    transition: opacity 1s;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 30px;
  }
  
  .social-icon {
    opacity: 0;
    width: 40px;
    height: 40px;
    transition: opacity 1s;
  }
  