body {
    background-color: rgb(15, 15, 15);
    font-family: monospace;
    margin: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
    margin-right: 10px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s;
  }
  
  #loading-screen img {
    max-width: 100%;
    max-height: 100%;
  }
  
  #loading-screen.fade-out {
    opacity: 0;
    pointer-events: none;
}

.terminal {
    padding: 25px;
    border: 2px solid purple;
    border-radius: 4px;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  

  .terminal-line {
    font-size: 1.5em;
    display: flex;
    align-items: center;
  }
  
  #terminal-text {
    color: purple;
  }

#terminal-cursor {
    color: purple;
    animation: blink 1s step-end infinite;
  }

#terminal-input {
    font-size: 1.0em;
    font-family: monospace;
    display: none;
    background-color: rgb(15, 15, 15);
    border: none;
    color: purple;
    outline: none;
    width: 100%;
  }

@keyframes blink {
from,
to {
color: transparent;
}
50% {
color: purple;
}
}
#terminal-input::placeholder {
    color: purple;
    animation: blink 1s step-end infinite;
  }
  
  #input-prefix {
    color: purple;
    font-weight: bold;
    margin-right: 10px;
  }

  .navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo img {
  width: auto; /* Adjust the width as needed */
  height: 40px;
  cursor: pointer;
}

.copyright-footer {
  text-align: center;
  font-size: 14px;
  color: white;
  padding: 10px 0;
  background-color: rgb(15, 15, 15);
  position: absolute;
  bottom: 0;
  width: 100%;
}